<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    {:token()}

    <div class="form-group">
        <label for="version" class="control-label col-xs-12 col-sm-2">{:__('版本号')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="version" name="row[version]" value="" data-rule="required;version" />
        </div>
    </div>

    <div class="form-group">
        <label for="server" class="control-label col-xs-12 col-sm-2">{:__('服务器')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="server" name="row[server]" value="" data-rule="required;server" />
        </div>
    </div>

    <div class="form-group">
        <label for="sort" class="control-label col-xs-12 col-sm-2">{:__('序号')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="sort" name="row[sort]" value="" data-rule="required;sort" />
        </div>
    </div>

    <div class="form-group">
        <label for="content" class="control-label col-xs-12 col-sm-2">{:__('内容')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="content" name="row[content]" value="" data-rule="required;content" />
        </div>
    </div>

    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>